button {
  display: block;
  margin: 0 auto;
  clear: both;
}

mat-toolbar.top-nav {
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100% !important;
}

.source-country-form {
  margin-left: 1em;
  width: 40vw;
  max-width: 200px;
  min-width: 100px;
}

.input-amount-form {
  margin-left: 0.6em;
  width: 40vw;
  max-width: 300px;
  min-width: 100px;
}

mat-toolbar.sub-nav {
  height: 75px;
  position: fixed;
  top: 75px;
  left: 0;
  z-index: 100;
  width: 100% !important;
  background: lightgray;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}